html, body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

#map,
#admin-map {
  height: 100vh;
}

#controls {
  padding: 1rem;
}

#controls form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

#controls textarea {
  width: 100%;
  height: 150px;
}

